hmgai.cc {
    encode gzip zstd
    request_body {
        max_size 100MB
    }

    @frontendApi path /api/*
    handle @frontendApi {
        reverse_proxy 127.0.0.1:3001
    }

    @backendApi path /backend-api/*
    handle @backendApi {
        reverse_proxy 127.0.0.1:18080
    }

    handle {
        reverse_proxy 127.0.0.1:3001
    }
}
